{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <title>gjfy{{block "title" .}}{{end}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/templates/css/app.css">
    <script src="//unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
</head>
<body>
<div class="gjfy-container" id="vueApp">
    <img src="logo.png" alt="logo" class="gjfy-logo">
    <div id="content">
    {{block "content" .}}{{end}}
    </div>
{{block "footer" .}}
	{{end}}
</div>
<script src="/templates/js/app.js"></script>
</body>
</html>
{{end}}